---

import Container from "../../../Container.astro";

---



<section class="mt-10 delay-[300ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0">
    <Container>

        <div class="w-32 h-32 flex gap-4 rounded-full  shadow-xl bg-gray-800 hover:animate-rotate-y" style="display: block; margin: auto">



            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 -.5 24 22"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments w-28 h-28 m-auto text-white"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 10a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M6 4v4" /><path d="M6 12v8" /><path d="M10 16a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M12 4v10" /><path d="M12 18v2" /><path d="M16 7a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M18 4v1" /><path d="M18 9v11" /></svg>

        </div>
        <h1 class=" text-center mt-10  px-4">
            <span class="styleFontH text-3xl md:text-5xl">ADMINISTRACIÓN
        </h1>


        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6 " data-taos-offset="100">
            <figure class="max-w-screen-md mx-auto">
                <blockquote>
                    <p class="text-1xl sm:text-2xl  md:text-2xl styleFontP text-dark">Ahorro de tiempo y dinero realizando todos tus cálculos de nómina, finiquitos, aguinaldo, cuotas obrero patronales, bonos, cajas y fondos de ahorrro.</p>

                </blockquote>

            </figure>
        </div>
    </div>
    </Container>
</section>


<style>
    .styleFontH{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 600;
    }

    .styleFontP{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>