---

import Container from "../../../Container.astro";
---


<section class="mt-10 delay-[300ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0">
    <Container>

        <div class="w-32 h-32 flex gap-4 rounded-full  shadow-xl bg-gray-800 hover:animate-rotate-y" style="display: block; margin: auto">

            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 -.5 24 22"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-bookmark w-28 h-28 m-auto text-white"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 7v14l-6 -4l-6 4v-14a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4z" /></svg>


        </div>
        <h1 class=" text-center mt-10  px-4">
            <span class="styleFontH text-3xl md:text-5xl">DISPOSICIONES LEGALES Y FISCALES
        </h1>


        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6 " data-taos-offset="100">
            <figure class="max-w-screen-md mx-auto">
                <blockquote>
                    <p class="text-1xl sm:text-2xl  md:text-2xl styleFontP text-dark">Los cálculos de nómina y cuotas obrero patrionales se realizan en base a las tablas anuales de acuerdo a las lesgilaciones vigentes en las cuales se actualizan automáticamente.</p>

                </blockquote>

            </figure>
        </div>
    </div>
    </Container>
</section>



<style>
    .styleFontH{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 600;
    }

    .styleFontP{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>