---

import Container from "../../Container.astro";

---


<section class="mt-10 delay-[300ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0">
    <Container>

        <div class="w-32 h-32 flex gap-4 rounded-full  shadow-xl bg-gray-800 hover:animate-rotate-y " style="display: block; margin: auto">

            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 -.5 24 22"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-cloud w-28 h-28 m-auto text-white"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.04 4.305c2.195 -.667 4.615 -.224 6.36 1.176c1.386 1.108 2.188 2.686 2.252 4.34l.003 .212l.091 .003c2.3 .107 4.143 1.961 4.25 4.27l.004 .211c0 2.407 -1.885 4.372 -4.255 4.482l-.21 .005h-11.878l-.222 -.008c-2.94 -.11 -5.317 -2.399 -5.43 -5.263l-.005 -.216c0 -2.747 2.08 -5.01 4.784 -5.417l.114 -.016l.07 -.181c.663 -1.62 2.056 -2.906 3.829 -3.518l.244 -.08z" /></svg>

        </div>
        <h1 class=" text-center mt-10  px-4 font-semibold">
            <span class="styleFontH text-3xl md:text-5xl">ADON RAV
        </h1>


        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6" data-taos-offset="100">
            <figure class="max-w-screen-md mx-auto">
                <blockquote>
                    <p class="text-1xl sm:text-2xl  md:text-2xl styleFontP text-dark">Es una almacén en la nube para recibir las facturas enviadas a su empresa y vaidar que son auténticas y no contengan errores.</p>
    
                    <p class="text-1xl sm:text-2xl md:text-2xl styleFontP text-dark mt-5">De esta forma se cumplen las obligaciones fiscales de conservación y comprobación que recaen en los contribuyentes.</p>
    
                </blockquote>

            </figure>
        </div>
    </div>
    </Container>
</section>


<style>
    .styleFontH{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 600;
    }

    .styleFontP{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>