---
import BannerRAV from "./BannerRAV.astro"
import ADON_RAV from "./ADON-RAV.astro"
import GESTION_FACTURAS from "./GESTION-FACTURAS.astro"
import CONSULTA_FACTURAS from "./CONSULTA-FACTURAS.astro"
import MODULOS_ADICIONALES from "./MODULOS-ADICIONALES.astro"

---

<section>
    <BannerRAV></BannerRAV>
    <ADON_RAV></ADON_RAV>
    <GESTION_FACTURAS></GESTION_FACTURAS>
    <CONSULTA_FACTURAS></CONSULTA_FACTURAS>
    <MODULOS_ADICIONALES></MODULOS_ADICIONALES>

</section>

