.styleFontH{
    font-family: "Saira", sans-serif ;
    font-style: normal;
    font-weight: 600;
}

.styleFontP{
    font-family: "Saira", sans-serif ;
    font-style: normal;
    font-weight: 100;
}