

<!--Footer container-->
<footer
  class="flex flex-col items-center bg-gray-100 text-center text-surface  text-gray-800">
  <div class="container pt-9">
    <!-- Social media icons container -->
    <div class="mb-6 flex justify-center space-x-2">
      <a
        href="#!"
        type="button"
        class="rounded-lg bg-transparent p-3 font-medium uppercase leading-normal text-surface transition duration-150 ease-in-out  focus:outline-none focus:ring-0 dark:text-white dark:hover:bg-secondary-900"
        data-twe-ripple-init>
        <span class="[&>svg]:h-5 [&>svg]:w-5">
          <img src="/images/8enred.png" class="w-32">

        </span>
      </a>
    </div>
  </div>

  <!--Copyright section-->
  <div class="w-full styleFontP bg-black/5 p-4 text-center">
    © 2024 Todos los derechos reservados

  </div>
</footer>


<style>

  .styleFontP{
      font-family: "Saira", sans-serif ;
      font-style: normal;
      font-weight: 100;
  }
</style>