---
import Container from "../../Container.astro"
---



<section class="h-96 bdNomiweb" data-scroll-section >
    
    <Container>
        <div class="grid grid-cols-12 animate-fade-down py-14 text-white" >
            <div class="col-span-12 text-center">
                <h1 class="text-5xl styleFontH mt-16 sm:mt-20" data-scroll>NOMIWEB</span> </h1>
                <p class=" text-3xl  sm:text-1xl styleFontP  lg:text-2xl mt-3" data-scroll> Generación, captura y timbrado de nómina</p>
    

            </div>
        </div>
    </Container>
</section>

<style>
    .bdNomiweb {
        background-image: url(/public/images/NomiwebBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .styleFontH{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 600;
    }

    .styleFontP{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>