---

import BannerNomiweb from "./BannerNomiweb.astro";
import Admisnitraciones from "./Secciones/Admisnitraciones.astro";
import Consultoria from "./Secciones/Consultoria.astro";
import Disposiciones from "./Secciones/Disposiciones.astro";
import Tecnologia from "./Secciones/Tecnologia.astro";

---


<section>
    <BannerNomiweb></BannerNomiweb>
    <Tecnologia></Tecnologia>
    <Disposiciones></Disposiciones>
    <Consultoria></Consultoria>
    <Admisnitraciones></Admisnitraciones>
</section>