
---

import Container from "../Container.astro";

---



<section >
    <Container>
        <div class="grid grid-cols-1 my-40 md:my-10 animate-fade-down text-center" >

            <div class="col-span-1 mt-1 animate-fade-down">
                <img src="/images/8enred_W_.png" class="w-72 md:w-96 object-center" style="display: block; margin:auto;">

                <h1 class="text-1xl md:text-4xl font-light styleFont text-white">
                    Desarrollamos soluciones administrativas<br>  y brillantes para tu empresa</h1>
    
            </div>
        </div>
    
    </Container>
</section>





<style>
    .efecto-espejo {
        -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.1)));
    }

    .styleFont{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>