---

import Container from "../Container.astro";

---


<div class="w-full p-6 col-span-2  border-gray-200 rounded-xl bdNomiweb">
    <h1 class="mb-2 text-5xl styleFontH tracking-tight text-gray-900 dark:text-white">NOMIWEB</h1>
    <h3 class="text-1xl styleFontP text-white ">Generacion, Captura y Timbrado de nomina</h3>
    <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p> -->
    <a href="http://nomina.adon.mx/(S(o4jzs145nfug05y35a0c1h45))/Default.aspx" class="inline-flex  items-center py-2  mt-5 text-sm styleFontH text-center text-white focus:ring-4 focus:outline-none focus:ring-blue-300 ">
        Ir a Nomiweb
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
    </a>
</div>


<style>
    .bdNomiweb {
        background-image: url(../../../public/images/NomiwebBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .styleFontH{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 600;
    }

    .styleFontP{
        font-family: "Saira", sans-serif ;
        font-style: normal;
        font-weight: 100;
    }
</style>