---
import Banner from "./Banner.astro"
---


<section class="overflow-x-hidden mt-20" style="min-height: 85vh;" >
    <video class="object-cover absolute h-screen  w-screen -z-20 top-0 left-0" src="/bgVideoIndex.mp4" autoplay loop muted>
    </video>

    <Banner></Banner>

</section>